body {
    padding: 0px;
}
a{text-decoration: none!important;}
.welcome-login{
	width: 400px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0px 100px 0px 0px;

}
/*
input.form-control {
	margin-bottom: 10px;
}
input.btn {
	margin: 5px;
}
*/
.main.login-front {
	text-align: right;
}
.form-group-login {
	width: 400px;
	display: inline-block;
  text-align: left;
}
.form-group-login form{
  display: grid;
}
li .button {
  text-align: center;
  padding: 7px 10px;
  display: inline-flex;

}
li .button:hover {
  background-color: #16a085;
}
li .button.current {
  background-color: #16a085;
}

a .button {
  color: #fff;
}
.nav-bar{
  background-color: #1abc9c;
  margin:0 -2rem;
  text-align: center;
}
.nav-bar li{
  display: inline-block;
  margin: 0 5px;
}

input.form-input {
    min-width: 300px;
    max-height: 27px;
    margin-right: 20px;
    margin-bottom: 20px;
    border:0;
    border-bottom:1px solid #1abc9c;
    background: none;

}

.form-title {
    margin-bottom: 20px;
}
label.form-label {
    margin: 0;
    color: #2f464e;
}

button.form-submit {
    border: 0;
    color: #fff;
    background: #1abc9c;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
input.form-radio-input {
    margin-left: 10px;
}
select.form-select{
  width:300px;
  height: 27px;
  border:0;
  border-bottom:1px solid #1abc9c;
  background: none;
}
abbr {
    color: #d82a2a;
}

button.form-submit:hover {
    background: #16a085;
}

.system-info {
  vertical-align: middle;
  border:2px dotted #2f464e;
  margin:20px 0;
}
.system-info p {
    color: #2f464e;
    margin: 0;
    margin: 10px 20px 10px 50px;
    display: inline-flex;
    align-items: center;
}
.warning p::before{
  content:"";
  display: inline-block;
  width:30px;
  height: 30px;
  background: url('../img/warning.png');
  background-size: 30px;
  position: absolute;
  margin-left: -40px;
}
.error p::before{
  content:"";
  display: inline-block;
  width:30px;
  height: 30px;
  background: url('../img/error.png');
  background-size: 30px;
  position: absolute;
  margin-left: -40px;
}
input[type=number][name=user-cep]::-webkit-inner-spin-button {
  -webkit-appearance: none!important;
}
form *:focus,
select:focus{
	outline:none!important;
}
.table table {
    width: 100%;
}
.table td{
    border-bottom: 1px solid #1abc9c!important;
}
.table thead th{
    border-bottom: 2px solid #16a085!important;
}
.table tfoot th{
    border: 0;
    border-top: 2px solid #16a085!important;
}
#list-user tbody tr:hover{
  background-color: #e8e8e8!important;
  cursor: pointer;
}
td.user-id {
}
td.prov {
    text-align: end;
    width: 20px!important;
    cursor: help;
}
#input-selecionar-arquivo{
  min-width: 300px;
  max-height: 27px;
  margin-right: 20px;
  margin-bottom: 20px;
  border:0;
  border-bottom:1px solid #1abc9c;
  background: none;
  cursor: pointer;
}
